@media (max-width: 1366px) {
  .slide {
    &.current .content h1 {
      opacity: 1;
      text-align: center;
      margin-top: 15rem;
      transform: translateX(-5rem);
      transition: all 2s ease-in-out;
      font-size: 30px;
      margin-left: 65%;
    }

    &.current .content p {
      opacity: 1;
      transform: translateX(37rem);
      transition: all 2s ease-in-out;
      text-align: center;
      margin-top: 15rem;
      font-size: 25px;
      margin-right: 135%;
      letter-spacing: 10px;
    }
  }
}
@media (max-width: 1024px) {
  #main-nav {
    border-bottom: 1px rgb(99, 98, 98) dotted;
  }
  #part-a {
    color: $dark-color;
    .content {
      display: flex;
      flex-direction: column;

      .container {
        position: relative;
        text-align: center;
        flex: 2;
        padding: 5rem 10rem;

        .btn {
          padding: 1rem;

          position: absolute;
          bottom: -0.5rem;
          left: 28rem;
        }
      }
      .image-container {
        flex: 2;
        padding: 5rem 1rem;
        height: 400px;
        margin: auto;
      }
    }
  }
  .slider {
    background-color: $dark-color;
    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;

      &.current {
        opacity: 1;
        background-size: 1075px;
      }
      &.current .content h1 {
        opacity: 1;
        text-align: center;
        margin-top: 15rem;
        transform: translateX(-0.25rem);
        transition: all 2s ease-in-out;
        font-size: 30px;
        margin-left: 65%;
      }

      &.current .content p {
        opacity: 1;
        transform: translateX(18rem);
        transition: all 2s ease-in-out;
        text-align: center;
        margin-top: 15rem;
        font-size: 25px;
        margin-right: 135%;
        letter-spacing: 10px;
      }
    }
  }

  .container-port {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: space-between;
    grid-gap: 0.25rem;
    overflow: hidden;
    margin: 0;

    &:first-child {
      margin-top: 6rem;
    }
  }
  #m-footer {
    height: 15rem;
    margin-top: 0;
    padding: 3rem;
    margin-bottom: 0;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    .social i {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      color: $white-c;
      // line-height: 35px;
      text-align: center;
      padding: 0.5rem;
      transition: all 1s;
      cursor: pointer;

      &:hover {
        background: $hi-light;
        height: 25px;
        width: 25px;

        // line-height: 38px;
      }
    }
  }
  form.form {
    margin-top: 15rem;
  }
}

@media (max-width: 768px) {
  // Nav Bar

  #main-nav {
    border-bottom: 1px rgb(99, 98, 98) dotted;
  }

  // About section

  #part-a {
    color: $dark-color;
    .content {
      display: flex;
      flex-direction: column;

      .container {
        text-align: center;
        flex: 2;
        padding: 5rem 3rem;
        position: relative;

        .btn {
          position: absolute;
          bottom: 0;
          left: 20rem;
        }
      }
      .image-container {
        flex: 2;
        height: 400px;
        left: 0rem;
        top: 0rem;
      }
    }
  }

  // Home Image Carousel
  .slider {
    .slide {
      &.current {
        opacity: 1;
        background-size: 900px;
        background-position: left;

        .content h1 {
          opacity: 1;
          font-size: 1.5rem;
          transform: translateX(0rem);
          transition: all 1s ease-in-out;
        }

        .content p {
          opacity: 1;
          font-size: 1rem;
          transform: translateX(4rem);
          transition: all 1s ease-in-out;
        }
      }
    }
  }
  div.form-group {
    input {
      border: 1px gray dotted;
    }
    textarea {
      border: 1px gray dotted;
    }
  }
}

@media (max-width: 667px) {
  .slider {
    .slide {
      &.current {
        opacity: 1;
        background-size: 675px;
        background-position: left;

        .content {
          h1 {
            margin-top: 2rem;
            opacity: 1;
            font-size: 1rem;
            transform: translateX(0rem);
            transition: all 1s ease-in-out;
          }

          p {
            margin-top: 3.5rem;
            opacity: 1;
            font-size: 1rem;
            transform: translateX(-2rem);
            transition: all 1s ease-in-out;
          }
        }
      }
    }
  }

  div.container-port {
    .box {
      width: 300px;
      height: 300px;

      margin: 1rem auto;
      div.hidden {
        p {
          padding-right: 3.5rem;
        }
      }
    }
  }
  #part-a {
    .container {
      a.btn.btn-light {
        position: absolute;
        left: 40%;
      }
    }
  }

  div .box {
    width: 200px;
    height: 200px;
  }
  form.form {
    margin-top: 9rem;
    height: 400px;
    width: 400px;
    padding: 1rem;
    border-radius: 50%;
    h3.section-title {
      padding-bottom: 0;
      margin-top: 0;
      position: absolute;
      left: 8rem;
      top: 3rem;
    }
  }
  div.form-group {
    position: absolute;
    left: 5rem;
    top: 6rem;
    margin-left: 2rem;
    input {
      margin-bottom: 0.5rem;
    }
    #btn {
      position: absolute;
      bottom: -2rem;
      left: 2rem;
      z-index: 3;
    }
  }
  // button#btn.btn.btn-light {
  //   position: absolute;
  //   bottom: 2rem;
  //   left: 9rem;
  //   z-index: 3;
  // }
}

@media (max-width: 414px) {
  #main-nav {
    display: grid;
    grid-template-columns: 3fr 0fr;
    ul {
      display: flex;
      flex-direction: column;

      li {
        text-align: center;

        border-bottom: 2px rgb(71, 71, 71) dotted;
        width: 414px;
        padding: 1rem;
      }
    }
  }

  form.form {
    margin: 20rem 0 2rem 1rem;
  }

  // Home

  #part-a {
    color: $dark-color;
    .content {
      display: flex;
      flex-direction: column;

      .container {
        text-align: center;
        flex: 2;
        padding: 3rem 3rem 6rem 3rem;
        position: relative;

        .btn {
          position: absolute;
          bottom: 0;
          left: 9rem;
        }
      }
      .image-container {
        flex: 2;
        padding: 5rem 1rem;
        height: 400px;
        margin-left: 2.5rem;
      }
    }
  }

  .slider {
    position: relative;

    .slide {
      position: absolute;
      top: 5rem;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;

      &.current {
        opacity: 1;
        background-size: 550px;
        background-position: left;
      }

      &.current .content h1 {
        position: absolute;
        opacity: 1;
        text-align: center;
        // margin-top: 35rem;
        top: 15rem;
        left: -60rem;
        transform: translateX(28rem);
        transition: all 1s ease-in-out;
        font-size: 15px;

        letter-spacing: 10px;
      }

      &.current .content p {
        position: absolute;
        width: 400px;
        top: 25rem;
        right: -15rem;
        opacity: 1;
        transform: translateX(20rem);
        transition: all 1s ease-in-out;
        text-align: center;
        // margin-top: 32rem;
        font-size: 10px;
        // margin-right: 193%;
        letter-spacing: 5px;
      }
    }
  }

  //  Portfolio

  .container-port {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    grid-gap: 0.25rem;
    overflow: hidden;

    &:first-child {
      margin-top: 20rem;
    }
  }
  #m-footer {
    padding: 1rem 0;
  }
  .footer-container {
    display: flex;
    flex-direction: column;

    p {
      padding-top: 0;
    }

    .social i {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      color: $white-c;
      // line-height: 35px;
      text-align: center;
      padding: 0.5rem;
      transition: all 1s;
      cursor: pointer;

      &:hover {
        background: $hi-light;
        height: 25px;
        width: 25px;

        // line-height: 38px;
      }
    }
  }

  form {
    position: relative;
    width: 375px;
    height: 375px;

    padding: 0;
    margin: 20rem 0 1rem 1.75rem;

    .section-title {
      position: absolute;
      left: 0;
      text-align: center;
      padding-top: 0;
      padding-left: 0;
    }
    .form-group {
      position: absolute;
      top: 5rem;
      left: 6rem;
      width: 250px;
      margin: 0;
      align-items: center;

      input {
        border: 1px dotted gray;
        margin-bottom: 0.5rem;
        width: 300px;
      }
      textarea {
        border: 1px dotted gray;
        width: 300px;
      }
      div.my-2 {
        position: relative;
        left: -3rem;
      }
    }
  }
  .btn.btn-light {
    background: red;
    z-index: 4;
  }
}

@media (max-width: 375px) {
  #main-nav {
    width: 375px;
    padding: 0;
    margin: 0;
    grid-template-columns: 3fr 0;
    ul {
      li {
        padding-left: 0;
      }
    }
  }
  .slider {
    .slide {
      &.current {
        opacity: 1;
        background-size: 425px;
        background-position: left;
      }

      &.current .content h1 {
        position: absolute;
        opacity: 1;
        text-align: center;
        // margin-top: 35rem;
        top: 15rem;
        left: -60rem;
        transform: translateX(28rem);
        transition: all 1s ease-in-out;
        font-size: 15px;

        letter-spacing: 10px;
      }

      &.current .content p {
        position: absolute;
        width: 400px;
        top: 26rem;
        right: -15rem;
        opacity: 1;
        transform: translateX(18rem);
        transition: all 1s ease-in-out;
        text-align: center;
        // margin-top: 32rem;
        font-size: 10px;
        // margin-right: 193%;
        letter-spacing: 5px;
      }
    }
  }

  .container-port {
    .box {
      margin: 2rem auto;
    }
  }
  #part-a {
    .content {
      .container {
        a.btn.btn-light {
          position: absolute;
          left: 33%;
        }
      }
      .image-container {
        margin-left: auto;
      }
    }
  }

  div.contact-container {
    margin-top: 20rem;
    margin-bottom: 10rem;

    form.form {
      position: relative;
      width: 350px;
      margin: 0 auto 2rem auto;

      h3 {
        position: absolute;
        left: 5.5rem;
        top: 2rem;
      }

      div.form-group {
        height: 200px;
        position: absolute;
        left: 5.5rem;
        input {
          width: 17rem;
          margin-bottom: 0.5rem;
          border-radius: 5%;
        }
        textarea {
          width: 17rem;
          border-radius: 5%;
        }
        div.my-2 {
          margin-top: 10rem;
        }
      }
    }
  }
}
